<!DOCTYPE html>
{% extends "index.html" %}
{% block content %}

<div id="canvas">
    <div id="analytics-container">
        <pre id="content" style="white-space: pre-wrap;"></pre>
        <div class="analytics-box" id="membership-box">
            Membership/Supporters
        </div>
        <div class="analytics-box" id="socialMedia-box">
            Social Media
        </div>
        <div class="analytics-box" id="email-box">
            Email
        </div>
        <div class="analytics-box" id="donations-box">
            Donations
        </div>
    </div>
</div>

{% endblock %}
</html>