<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="#" />
    <title>Nonviolence International Dashboad</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>

<body>

	<div id="sidebar">
        <img id="logo-img" src="../static/nonviolence-international.jpg" />
		<div id="sidebar-content">
            <button class="sidebar-button" id="home-button" title="Home">Home</button><br/>
            <button class="sidebar-button" id="library-button" title="Library">Library</button><br/>
            <button class="sidebar-button" id="notes-button" title="Notes">Notes</button><br/>
        </div>
	</div>

    <div id="topbar">
        <button class="topbar-button" id="login_button">Login</button>
        <button class="topbar-button" id="signout_button">Sign Out</button>
    </div>

    {% block content %}{% endblock %}

    <script src="../static/site.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script async defer src="https://apis.google.com/js/api.js"
      onload="this.onload=function(){};handleClientLoad()"
      onreadystatechange="if (this.readyState === 'complete') this.onload()">
    </script>
</body>

</html>